<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="console-log" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>
